<p>home works!</p>

<ul>
  <div class="container" *ngFor="let contact of contacts;">
    <div class="row">
      <div class="col">
        <!-- Getting variable from Route (Part 1a) -->
        <!-- <li><a (click)="onClick(item.id)" > {{item.name}} </a></li> -->

        <!-- Getting variable from Route (Part 1b) -->
        <!-- <li><a [routerLink]="['/details']" [state]="{thename: contact.name}">{{contact.name}} </a></li>  -->

        <!-- Getting variable from Route using activatedroute -->
        <li><a [routerLink]="['/details',contact.id]" >{{contact.name}} </a></li> 
      </div>
      <div class="col">
        <button class="btn" (click)="delete(contact)"><i class="fa fa-trash"></i></button>
      </div>
    </div>
  </div>
</ul>
