<p>home works!</p>
<h1>String Interpolation</h1>
<p> {{stringInterpolation}} | {{numberInterpolation}} </p>


<h1>Property Binding</h1>
<input type="text" [ngClass]="{active : isActive}" value="Default Value">
<input type="text" [class.active]="isActive" value="Default Value">

<br>

<input type="text" [ngClass]="{redBorder : onTest(), backColor: onTest()}" [value]="stringInterpolation">
<input type="text" [class.redBorder]="onTest()" [class.backColor]="onTest()" value="{{ stringInterpolation }}">



<br>

<input type="text" [ngStyle]="{backgroundColor: isActive? 'lightgreen': 'lightblue'}"    bind-value="stringInterpolation">
<input type="text" [style.backgroundColor]="isActive? 'lightgreen': 'lightblue'" value="{{stringInterpolation}}">

<br>

<input type="text" [ngStyle]="{color: colorforeground}" bind-value="stringInterpolation">
<input type="text" [style.color]="colorforeground" value="{{stringInterpolation}}">

<h3>{{ colorforeground }}</h3>

<h1>Event Binding</h1>
<button (click)="onClicked()">Event Binding</button>

<h1>2 Way Data Binding</h1>
<input type="text" [(ngModel)]="person.name"/>
<input type="text" [(ngModel)]="person.age">
<button (click)="showPerson()">Click</button>

