@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');

.active {
  background-color: lightgreen;
}

.redBorder{
  border: 1px red solid;
}

.backColor {
  background-color: lightsalmon;
}