<div class="no-style" style="margin-left: 4px">
  <div class="container">
    <h1>New Contact</h1>
    <em>Complete the form to enable submit button.</em><br>
    <form [formGroup]="profileForm" (ngSubmit)="createContact()">
      <div class="form-group">
        <label for="name">Name: </label>
        <input id="name" type="text" class="form-control" formControlName="name">
        <p>name: {{ name }}</p>
      </div>
      <div class="form-group">
        <label for="address">Address: </label>
        <input id="address" type="text" class="form-control" formControlName="address">
        <p>address: {{ address }}</p>
      </div>

      <div class="form-group" formGroupName="sex">
        <label for="sex">Sex</label><br>

        <input type="radio" id="female" value=false formControlName="is_male">
        <label for="female"> Female </label><br>

        <input type="radio" id="male" value=true formControlName="is_male">
        <label for="male"> Male </label><br>
      </div>
      <button type="submit" class="btn btn-success" [disabled]="!profileForm.valid">Submit</button>
    </form>
  </div>
</div>


