<p>home works!</p>

<ul>
  <div class="container" *ngFor="let item of allcontacts;">
    <div class="row">
      <div class="col">
        <!-- Getting variable from Route (Part 1a) -->
        <!-- <li><a (click)="onClick(item.name)" > {{item.name}} </a></li> -->

        <!-- Getting variable from Route (Part 1b) -->
        <li><a [routerLink]="['/details']" [state]="{thename: item.name}">{{item.name}} </a></li> 
      </div>
      <div class="col">
        <button class="btn" (click)="delete(item)"><i class="fa fa-trash"></i></button>
      </div>
    </div>
  </div>
</ul>
